html {
    background-color: #2C3923;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "p22-yule-heavy-snow", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    font-size: 3rem;
}

p {
    color: #FFFFFF;
    text-align: center;
    font-family: "p22-yule-heavy-snow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

#video-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.video {
    width: 100%;
    max-width: 700px;
    border-radius: 15px;
    border: 3px solid #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

.game-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.controls {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    letter-spacing: 1px;
}

button {
    font-weight: bold;
    margin-top: 15px;
    background-color: #91191B;
    background: linear-gradient(145deg, #c93030, #91191B);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

button:hover {
    background-color: #b22224;
    background: linear-gradient(145deg, #ff4b4b, #b22224);
    transform: scale(1.05);
}

#game {
    border: 3px solid #910202;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-top: 50px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

#logo-footer {
    position: fixed;
    bottom: -80px;
    left: 10px;
    width: 100px;
    cursor: pointer;
}

#logo-footer6 {
    position: fixed;
    bottom: -80px;
    right: 10px;
    width: 100px;
    cursor: pointer;
}

#logo-footer:hover,
#logo-footer6:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.day2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://img.freepik.com/vecteurs-libre/fond-hiver-non-localise-flocons-neige_1393-271.jpg?semt=ais_hybrid&w=740&q=80') center/cover no-repeat;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
}

#buttons {
    margin-top: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    gap: 20px;
}

#buttons button {
    margin: 0;
}

#scene-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    margin-bottom: 0;
    font-size: 1.2rem;
}

#grid-photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1200px;
    margin: 20px auto;
}

#grid-photos .photo {
    border-radius: 10px;
    transition: transform 0.3s;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
}

.photo:hover {
    transform: scale(1.05);
}

#greve {
    width: 80%;
    max-width: 700px;
    display: block;
    margin: 30px auto 20px auto;
    transition: transform 0.2s;
    position: relative;
    z-index: 5;
}

@keyframes shake-scale {
    0% {
        transform: scale(1) translateX(0);
    }

    10% {
        transform: scale(1.05) translateX(-5px);
    }

    20% {
        transform: scale(1.05) translateX(5px);
    }

    30% {
        transform: scale(1.05) translateX(-5px);
    }

    40% {
        transform: scale(1.05) translateX(5px);
    }

    50% {
        transform: scale(1.05) translateX(-5px);
    }

    60% {
        transform: scale(1.05) translateX(5px);
    }

    70% {
        transform: scale(1.05) translateX(-5px);
    }

    80% {
        transform: scale(1.05) translateX(5px);
    }

    90% {
        transform: scale(1.05) translateX(-5px);
    }

    100% {
        transform: scale(1) translateX(0);
    }
}

#greve:hover {
    animation: shake-scale 0.6s;
    cursor: pointer;
}

#mugshot {
    display: block;
    margin: 20px auto;
    margin-top: 35px;
    max-width: 1600px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#mugshot:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

#logo-footer-7-left {
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 100px;
    cursor: pointer;
}

#logo-footer-7-right {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 100px;
    cursor: pointer;
}

#logo-footer-7-left:hover,
#logo-footer-7-right:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.day-nav-container {
    display: flex;
    justify-content: space-between;
}

.day-nav-btn {
    margin-top: 0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    transition: 0.2s ease;
}

.day-nav-btn:hover {
    transform: translateY(-2px);
}


.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: sans-serif;
}

.video-wrapper {
    position: relative;
    width: 320px;
    height: 240px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background: #000;
}

#output-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.info-box {
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
}

#gesture-image {
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
    z-index: 1000;
}

#gesture-image img {
    max-width: 100%;
    max-height: 100%;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.fact {
    margin-top: 50px;
    text-align: center;
    font-size: 1.2rem;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    border: 2px solid #FFFFFF;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    max-width: 600px;
}

.again-button {
    font-weight: bold;
    background-color: #14482d;
    background: linear-gradient(145deg, #1e3a1f, #14482d);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px 20px;
    border: 1px solid #0f2d1b;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1rem;
}

.again-button:hover {
    background-color: #1e3a1f;
    background: linear-gradient(145deg, #27632b, #1e3a1f);
    transform: scale(1.05);
}

.footer9 {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer9 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.footer9 img:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.nerd-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.nerd-popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  animation: pop 0.3s ease-out;
  font-family: "p22-yule-heavy-snow", sans-serif;
}

@keyframes pop {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.close-btn {
  margin-top: 15px;
  padding: 8px 15px;
  cursor: pointer;
}

.nerd-cat {
  cursor: pointer;
  transition: transform 0.1s;
}

.nerd-cat:hover {
  transform: scale(1.05);
}

.video-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 400px;
}
